@font-face {
  font-family: "Hero";
  src: url("../../fonts/Hero.ttf");
}
.header__container .container {
}
.header__container .subcontainer {
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-top: 5px;
  overflow-y: hidden;
}
.header__container .title {
  padding: 0 15px;
  font-size: 35px;
  font-family: "Hero";
  font-weight: 100;
  color: #ffffff;
  background-color: transparent;
}
.header__container .list__container {
  padding: 0 15px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 100;
  background-color: transparent;
}
.header__container li {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}
.header__container li a {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}
.header__container .img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top center;
}
