.documentation__container {
  color: rgba(255, 255, 255, 0.85);
  width: 70%;
  background-color: rgba(28, 23, 14, 0.3);
  overflow: hidden;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px 15px;
}
.documentation__container div {
  background-color: transparent;
}
.documentation__container h2 {
  background-color: transparent;
  padding: 15px 0 20px 0;
  font-size: 30px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 600;
}
.documentation__container h3 {
  background-color: transparent;
  padding-bottom: 5px;
  font-size: 25px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 500;
}
.documentation__container p {
  background-color: transparent;
  padding-bottom: 5px;
}
.documentation__container b {
  background-color: transparent;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 500;
}
.documentation__container code {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  display: block;
  width: 70%;
  border-radius: 7px;
  padding: 5px;
  margin: 5px 0;
}
.documentation__container li code {
  color: #000;
  display: inline;
  width: 70%;
  border-radius: 2px;
  padding: 1px 3px;
}
.documentation__container pre {
  background-color: transparent;
}
.documentation__container ul {
  background-color: transparent;
  padding-left: 15px;
  padding-top: 5px;
}
.documentation__container ul li {
  background-color: transparent;
}
.documentation__container .response_code {
  background-color: #fff;
  display: block;
  width: 1100px;
}
.documentation__container i {
  background-color: transparent;
}
@media screen and (max-width: 1000px) {
  .documentation__container {
    width: 85%;
    float: right;
  }
}
@media screen and (max-width: 800px) {
  .documentation__container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .documentation__container {
    width: 70%;
  }
}
