.request_input__container {
  background-color: rgba(126, 110, 146, 0.6);
  width: 600px;
  margin: auto;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.request_input__container .request_input__url_input {
  display: inline;
  background-color: rgba(255, 255, 255, 0.9);
  height: 25px;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 0 0 0 2px;
  width: calc(100% - 240px);
}
.request_input__container .request_input__root {
  display: inline;
  background-color: transparent;
  padding: 5px 3px 0 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.request_input__container .request_input__request_button {
  background-color: rgb(101, 101, 113);
  display: inline;
  border-radius: 0 5px 0 0;
  padding: 0 5px 4px 5px;
  font-size: 17px;
  height: 25px;
  width: 123px;
  overflow-y: hidden;
}
.request_input__container .request_input__request_button:hover {
  background-color: rgba(4, 4, 37, 0.3);
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  .request_input__container {
    width: 100%;
  }
}
